*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html,
body {
    width: 100%;height: 100%;
    overflow: hidden;
    font-size: calc(0.5rem + 10vw + 10vh);
}

/* 整个墙 */
#wall2 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;left: 0;
    transform: translateX(100%);
    background: url("../../static/images/room03/背景.png");
    background-size: 100vw 100vh;
    transition: transform 2s;
   
}

#wall2 img{
    width: 100%;height: 100%;
}
/* 图画 */
#pictureWall {
    width: 100vw;
    height: 70vh;
    position: absolute;
}

.picture,
.item {
    position: absolute;
}
.picture{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#picture1 {
    width: 8.5vw;height: 18vh;
    top: 6vh;
    left: 9vw;
    background-image: url('../../static/images/room03/相框1.png');
}
.picture div{
    position: absolute;
    filter: blur(1px);
    cursor: pointer;
}
.pic1{
    height: 72%;
    top: 4.3vh;
    width: 90%;
    left: 0.5vw;
}
#picture2 {
    width: 12.5vw;height: 22vh;
    top: 24vh;
    left: 9vw;
    background-image: url('../../static/images/room03/相框2.png');

}
.pic2{
    height: 45%;
    top: 10.5vh;
    width: 92%;
    left: 0.5vw;
}
#picture3 {
    width: 6.5vw;height: 13vh;
    top: 23vh;
    left: 23vw;
    background-image: url('../../static/images/room03/相框4.png');

}
.pic3{
    height: 46%;
    top: 3.8vh;
    width: 92%;
    left: 0.3vw;
}
#picture4 {
    width: 9.5vw;height: 17vh;
    top: 1vh;
    left: 30vw;
    background-image: url('../../static/images/room03/相框5.png');

}
.pic4{
    height: 51%;
    top: 6.5vh;
    width: 90%;
    left: 0.5vw;
}
#picture5 {
    width: 6.5vw;height: 14vh;
    top:38vh;
    left: 33vw;
    background-image: url('../../static/images/room03/相框1.png');

}
.pic5{
    height: 74%;
    top: 3.1vh;
    width: 90%;
    left: 0.4vw;
}
#picture6 {
    width: 12.5vw;height: 27vh;
    top: 16vh;
    left: 42vw;
    background-image: url('../../static/images/room03/相框2.png');

}
.pic6{
    height: 45%;
    top: 13vh;
    width: 92%;
    left: 0.5vw;
}
#picture7 {
    width: 9.5vw;height: 18vh;
    top: 11vh;
    left: 55vw;
    background-image: url('../../static/images/room03/相框4.png');

}
.pic7{
    height: 47%;
    top: 4.9vh;
    width: 90%;
    left: 0.5vw;
}
#picture8 {
    width: 7.5vw;height: 14vh;
    top: 30vh;
    left: 65vw;
    background-image: url('../../static/images/room03/相框3.png');

}
.pic8{
    height: 71%;
    top: 3.5vh;
    width: 90%;
    left: 0.4vw;
}
#picture9 {
    width: 9.5vw;height: 16vh;
    top: 0vh;
    left: 70vw;
    background-image: url('../../static/images/room03/相框5.png');

}
.pic9{
    height: 49%;
    top: 5.6vh;
    width: 90%;
    left: 0.6vw;
}
#picture10 {
    width: 8.5vw;height: 14vh;
    top: 41vh;
    left: 73vw;
    background-image: url('../../static/images/room03/相框5.png');

}
.pic10{
    height: 49%;
    top: 5.5vh;
    width: 89%;
    left: 0.6vw;
}
#picture11 {
    width: 8.5vw;height: 18vh;
    top: 1vh;
    left: 85vw;
    background-image: url('../../static/images/room03/相框2.png');

}
.pic11{
    height: 45%;
    top: 8.8vh;
    width: 93%;
    left: 0.3vw;
}
#picture12 {
    width: 8.5vw;height: 15vh;
    top: 21vh;
    left: 85vw;
    background-image: url('../../static/images/room03/相框4.png');

}
.pic12{
    height: 48%;
    top: 4vh;
    width: 90%;
    left: 0.5vw;
}
#sofa {
    width: 41.5vw;height: 38vh;
    bottom: 11vh;
    left: 29vw;

}

#bookcase {
    width: 16.5vw;height: 46vh;
    bottom: 19vh;
    right: 1vw;

}

#greenPlant {
    width: 8.5vw;height: 29vh;
    bottom: 21vh;
    left: 5vw;

}

/* 返回 */
.back{
    position: absolute;
    top: 0;left: 0;
    width: 10vw;height: 100%;
    z-index: 100;
}
/* 放大图片盒子 */
.zoombox{
    width: 100%;height: 100%;
    position: absolute;
    top: 0;left: 0;
    background:rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.zoomin{
    height: 60%;
    max-width: 60%;
    width: auto;
}